@model IEnumerable<ProjectF.ModelsDTOS.UserEntityDto>
@{
    ViewData["Title"] = "Employees";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Employees</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-lg">
            <!-- USERS LIST -->
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title"><strong>IyaSoft Members</strong> </h2>
                    <br> <br>
                    <!-- SEARCH FORM -->
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control" id="search" type="search" placeholder="Search Employee By Name" 
                                   aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul class="users-list clearfix">
                        @foreach (var item in Model)
                        {
                            <li>
                                <img src="~/theme/dist/img/@item.Userimage" alt="User Image" width="100" height="250"><br />
                                @Html.ActionLink(@item.Username, "Profile", new { idUser = @item.Id })
                                <span class="users-list-date">@item.Created.ToString("dd/MM/yyyy")</span>
                            </li>
                        }
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.card-body -->
            </div>
            <!--/.card -->
        </div>



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section scripts {
    <script>
           $(".search").on("keyup", function () {
            var datasearch = $(this).val().toLowerCase();
            $("tr ul.list1").each(function () {
                $(this).children("li.loop").each(function (j) {
                    var stringdata = $(this).find('input.text-dark:button').attr('value').toLowerCase();
                    if (stringdata.indexOf(datasearch) !== 0 && stringdata.indexOf(datasearch) < 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}