@model IEnumerable<PerformanceManagement.ENTITIES.User>

@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UserManagement</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

