@model ProjectF.ModelsDTOS.BadgeForCreationDto
@using Microsoft.AspNetCore.Identity
@using PerformanceManagement.ENTITIES
@using Microsoft.AspNetCore.Http;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Badge Add</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">BadgeManagement</a></li>
                        <li class="breadcrumb-item active">Badge Add</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" asp-controller="Badge" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Id" class="control-label" hidden></label>
                                <input asp-for="Id" class="form-control" hidden />
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="systemes">Systemes:</label>
                                <select type="button" class="btn btn-md btn-secondary" asp-for="SystemeID" asp-items="@Model.systemes">
                                    <option value="" selected disabled>-- Select Systeme Name --</option>
                                </select>
                                <span asp-validation-for="SystemeID" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Icon" class="control-label"></label>
                                <input asp-for="Icon" class="form-control" />
                                <span asp-validation-for="Icon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BadgeCriteria" class="control-label"></label><br>
                                <input asp-for="BadgeCriteria" class="fa-sort-numeric-asc" placeholder="BadgeCriteria" />
                                <span asp-validation-for="BadgeCriteria" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UserBadge.BadgeDeadline" class="control-label"></label>
                                <input asp-for="UserBadge.BadgeDeadline" class="form-control" />
                                <span asp-validation-for="UserBadge.BadgeDeadline" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <a asp-controller="Badge" asp-action="Listofbadges" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Create new Badge" class="btn btn-success float-right">
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->









@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


