@model ProjectF.ModelsDTOS.BadgeEntityDto
@using Microsoft.AspNetCore.Identity
@using PerformanceManagement.ENTITIES
@using Microsoft.AspNetCore.Http;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="card-group">
            <div class="col-sm-6">
                <h3 class="text-primary"><i class="fas fa-info-circle"></i>  Create Page</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">badge-Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class=" hold-transition login-page">
    <div class="info-box-content">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body">
                <p class="login-box-msg">Create The badge</p>

                <div class="row">
                    <div class="col-xl-12 slider-horizontal">
                        <section>
                            <form id="account" method="post">

                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="input-group mb-3">
                                    <input asp-for="Icon" class="dtr-title" placeholder="Title"type="file" />

                                </div>

                                <div class="input-group mb-3">
                                    <input asp-for="Title" class="dtr-title" placeholder="Title" />

                                </div>
                                <div class="input-group mb-3">
                                    <input asp-for="Description" class="text-black-50" placeholder="Description" />

                                </div>
                                <div class="input-group mb-3">

                                    <input asp-for="BadgeCriteria" class="fa-sort-numeric-asc" placeholder="BadgeCriteria" />
                                    <span asp-validation-for="BadgeCriteria" class="text-danger"></span>

                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <select asp-for="Systeme.Id">
                                            
                                            <option>@Model.Systeme.SystemName</option>
                                            
                                                 
                                        </select>

                                    </div>
                                </div>
                                <div class="col-8">
                                    <button type="submit" class="btn btn-success btn-block">Create</button>
                                </div>
                                <br />

                            </form>
                        </section>
                    </div>

                 
                </div>
            </div>
        </div>
    </div>

</section>

<!-- jQuery -->
<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/theme/dist/js/adminlte.min.js"></script>







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


