@model IList<ProjectF.ModelsDTOS.BadgeEntityDto>
@using Microsoft.AspNetCore.Identity
@using PerformanceManagement.ENTITIES
@using Microsoft.AspNetCore.Http;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Starter</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
@if (SignInManager.IsSignedIn(User))
{ @if (User.IsInRole("Administrator"))
{
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">




            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">List Of badges</h1><br />
                                <a href="#" class="btn btn-success"> + Add Badges </a>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Starter Page</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <!-- Main content -->
                <div class="content">
                    <div class="container-fluid">
                        @foreach (var item in Model)
                        {<div class="row">

                                <div class="col-lg-6">
                                    <div class="timeline timeline-inverse">


                                        <div class="time-label">
                                            <span class="bg-danger">
                                                @item.Created
                                            </span>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="col-12">

                                                    <img src="/theme/dist/img/badge.png" class="product-image-thumbs" width="50" alt="Product Image">

                                                    <h3 class="card-title">  <b>  @item.Title</b> </h3>
                                                    <p class="card-text">
                                                        @item.Description
                                                    </p>


                                                    <h6>@item.Systeme.SystemName</h6>
                                                </div>
                                                <div class="align-content-xl-stretch">
                                                    <a href="#" class="btn btn-primary">Publish</a>
                                                    <a href="#" class="btn btn-outline-secondary">Update</a>
                                                    <a href="#" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.col-md-6 -->
                                    @*<div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="m-0">Featured</h5>
                                                </div>
                                                <div class="card-body">
                                                    <h6 class="card-title">Special title treatment</h6>

                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>

                                            <div class="card card-primary card-outline">
                                                <div class="card-header">
                                                    <h5 class="m-0">Featured</h5>
                                                </div>
                                                <div class="card-body">
                                                    <h6 class="card-title">Special title treatment</h6>

                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>*@
                                    <!-- /.col-md-6 -->
                                </div>
                            </div>}
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
                <div class="p-3">
                    <h5>Title</h5>
                    <p>Sidebar content</p>
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Main Footer -->

        </div>
        <!-- ./wrapper -->
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="dist/js/adminlte.min.js"></script>
    </body>
    }
}
</html>
